@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border list-none p-0 m-0 scroll-smooth;
    }

    body {
        @apply bg-dark-1 text-white min-h-screen font-inter;
    }
}

@layer utilities {
    /* TYPOGRAPHY */
    .h1-bold {
        @apply text-[36px] font-bold leading-[140%] tracking-tighter;
    }

    .h1-semibold {
        @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
    }

    .h2-semibold {
        @apply text-[30px] font-semibold leading-[140%] tracking-tighter;
    }

    .h2-bold {
        @apply text-[30px] font-bold leading-[140%] tracking-tighter;
    }

    .h3-semibold {
        @apply text-[24px] font-semibold leading-[140%] tracking-tighter;
    }

    .h3-bold {
        @apply text-[24px] font-bold leading-[140%] tracking-tighter;
    }

    .base-semibold {
        @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
    }

    .base-medium {
        @apply text-[16px] font-medium leading-[140%];
    }

    .base-regular {
        @apply text-[16px] font-normal leading-[140%];
    }

    .body-bold {
        @apply text-[18px] font-bold leading-[140%];
    }

    .body-medium {
        @apply text-[18px] font-medium leading-[140%];
    }

    .small-semibold {
        @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
    }

    .small-medium {
        @apply text-[14px] font-medium leading-[140%];
    }

    .small-regular {
        @apply text-[14px] font-normal leading-[140%];
    }

    .subtle-semibold {
        @apply text-[12px] font-semibold leading-[140%];
    }

    .tiny-regular {
        @apply text-[10px] font-normal leading-[140%];
    }

    .tiny-medium {
        @apply text-[10px] font-medium leading-[140%];
    }

    /* UTILITIES */
    .invert-white {
        @apply invert brightness-0 transition;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .flex-start {
        @apply flex justify-start items-center;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #09090a;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #5c5c7b;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #7878a3;
    }

    /* GRID */

    .grid-layout {
        @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-4 sm:gap-6 xl:gap-10 place-items-center justify-center;
    }
}

/* BUTTON */
.btn-primary {
    @apply bg-primary-500 w-full rounded-md text-white cursor-pointer text-sm sm:text-base hover:bg-primary-600;
}

.btn-secondary {
    @apply border border-gray-400 w-full rounded-md text-white text-sm sm:text-base cursor-pointer  hover:bg-gray-900;
}

.btn-sm {
    @apply h-8;
}
.btn-md {
    @apply h-11;
}
.btn-lg {
    @apply h-12;
}
